<!-- Custom footer, supporting all privacy messages and term -->
<left>
    <h2 class="footer-section"> Site Info </h2>
    <ul>
        <li>
            <a href="https://aws.amazon.com/privacy/?nc1=f_pr">
                <i class="fas fa-user-secret"></i>
                </i> 
            Privacy
            </a>
        </li>
        <li>
            <a href="https://aws.amazon.com/terms/?nc1=f_pr">
                <i class="fab fa-aws">
                </i>
            Site Terms
            </a>
        </li>
</left>

