<left>

    <h2 class="github-title">Github Repo</h2>

    <h3 class="github-title">EC2 Spot Workshops</h3>
    
    <a class="github-button" href="https://github.com/awslabs/ec2-spot-workshops" data-icon="octicon-star" data-show-count="true" aria-label="Star on GitHub">Star</a>
    
    &nbsp;<a class="github-button" href="https://github.com/awslabs/ec2-spot-workshops/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork on GitHub">Fork</a>
    <br/>

    <h5 class="copyright">&copy; 2019 Amazon Web Services, Inc. or its Affiliates. All rights reserved.<h5>

</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script> 
